* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0c1f3f;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.header {
    background-color: #0c1f3f;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
}


.logo {
    width: 80px;
    margin-right: 15px;
}


.logo-container {
    flex: 3;
    display: flex;
    justify-content: center;
}


.nome{
    color: #d4af37;
    ;
}

.static-image-section {
    background: url('img/saalaoNobre.png') no-repeat center center/cover;
    height: 70vh;
    background-attachment: fixed;
}

.static-image-overlay {
    background-color: rgba(0, 0, 51, 0.616);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 0 20px;
}
.static-image-overlay h2 {
    font-size: 2.5rem;
    color: #d4af37;
    margin-bottom: 10px;
}

.static-image-overlay p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.back-to-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #d4af37;
    color: #0c1f3f;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
    text-decoration: none;
}

.back-to-top:hover {
    background-color: #d4af37;
    transform: scale(1.1);
}

#backToTop.show {
    display: block;
}

.cta-container {
    margin-top: 40px;
}

.cta-button {
    margin-top: 20px;
    background-color: #d4af37;
    color: #0c1f3f;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}
.cta-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 204, 51, 0.5);
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.cta-button:hover::before {
    opacity: 1;
}

.cta-button:hover {
    background-color: #d4af37;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.services-section {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.services-section h2 {
    font-size: 2.5rem;
    color: #000033;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ajustado para sempre exibir duas colunas */
    gap: 20px;
    justify-content: center;
}


.service-item {
    position: relative;
    background-color: #0c1f3f;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    text-align: left;
    overflow: hidden;
}



.service-item * {
    position: relative;
    z-index: 1;
}




.service-item i{
    display: flex;
    justify-content: center;
}

.service-item h3 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #d4af37;
    margin-bottom: 20px;
}


.service-item ul {
    list-style-type: disc; 
    padding-left: 0; 
    margin: 0 auto; 
    display: table;
}

.service-item ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: white;
    line-height: 1.5; 
    text-align: left; 
}


.service-item ul li::marker {
    color: #d4af37; 
}

.service-item:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}



.service-item::before {
    content: '';
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: url('img/logo2.png') no-repeat center center;
    background-size: 70%; 
    opacity: 0.1; 
    width: 60%;
    height: 100%;
    z-index: 0; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contact-info {
    display: flex;
    gap: 15px;
}

.contact-info a {
    color: #d4af37;
    font-size: 1.5rem; /* Aumenta o tamanho dos ícones */
    transition: color 0.3s ease; /* Transição para o efeito hover */
}

.contact-info a:hover {
    color: #ffffff; /* Cor branca no hover */
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section {
    padding: 60px 0;
    background-color: #0c1f3f;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.about-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
    flex: 1;
    color: #ffffff;
    text-align: left;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #d4af37;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    line-height: 1.8;
    text-align: justify;
    color: #ffffff;
}

.about-content .cta-button {
    background-color: #d4af37;
    color: #0c1f3f;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-content .cta-button:hover {
    background-color: #d4af37;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.redes{
    display: flex;
}

.redes li a{
    font-size: 2.5rem;
    margin-right: 20px;
}

.consultation-section {
    padding: 60px 0;
    background-color: #f4f4f4;
}

.consultation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.consultation-info {
    flex: 1;
    color: #0c1f3f;
}

.consultation-info h2 {
    font-size: 2.5rem;
    color: #d4af37;
    margin-bottom: 20px;
}

.consultation-info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.consultation-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.consultation-info ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.consultation-info ul a {
    color: #0c1f3f;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.consultation-info ul a:hover {
    color: #d4af37;
    transform: translateX(5px);
}

.consultation-info .cta-button {
    background-color: #d4af37;
    color: #0c1f3f;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.consultation-info .cta-button:hover {
    background-color: #d4af37;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.consultation-map {
    flex: 1;
}

.fot {
    background-color: #0c1f3f;
    padding: 20px;
    text-align: center;
    color: #d4af37;
    position: relative; 
    width: 100%;
    bottom: 0;
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    gap: 20px;
}

.politica{
    display: flex;
    gap: 20px;
}

.politica a{
    text-decoration: none;
    color: #d4af37;
}

.politica :hover{
    text-decoration:underline;
    color:#d4af37 ;
}

main {
    flex-grow: 1; 
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1000;
}

.whatsapp-button img {
    width: 35px;
    height: 35px;
}

.whatsapp-message {
    display: none;
    background-color: #ffffff;
    color: #000033;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 70px;
    white-space: nowrap;
    font-size: 1rem;
}

.whatsapp-button:hover .whatsapp-message {
    display: block;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
    }

    .service-item::before{
        width: 100%;
        height: 100%;
    }


    .cta-button {
        padding: 10px 25px;
        font-size: 0.9rem;
    }

    .static-image-overlay h2 {
        font-size: 2rem;
    }

    .about-container, .consultation-container {
        flex-direction: column;
    }

    .about-content h2{
        font-size: 1.8rem;
    }

    .consultation-map {
        margin-top: 30px;
        width: 100%; 
    }

    .consultation-info {
        margin-bottom: 30px;  
    }

    .fot{
        display: flex;
        flex-direction: column;
    }
    

    .consultation-map iframe {
        width: 100%; 
        height: 250px; 
}
}
